[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "f90wrap"]
	path = f90wrap
	url = https://github.com/jameskermode/f90wrap.git
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install
