env:
  global:
  - F90WRAP_VERSION=0.2.5
  - PROJECT_SPEC="f90wrap==${F90WRAP_VERSION}"
  - TWINE_USERNAME="__token__"
  - TWINE_NON_INTERACTIVE=1
  - secure: "k8My3sFY+ym7l5Akx0nhbmzU3PRGMkUf6nlsOEXmjd+APILJ2dohMxRQOlvO8b4VL/t/N/Enewj1M6T2IEjVLJ3j1AEuTPMv6UKkFcmhab4hFm61+6/Mt+EJjM/kafuHi2SZfmTWH4zlkZmJdp808ASXHsRqV9oQwQC8cGcymtCHCyMiySPmDOLL7HDVYLmHLdRAmw8rG0SwvhNLpKQuaPX7MpyQZUrG/GGpkFscHF1UQipsBcg9ToTmiQXElSDh11CnqtSEFJXW85+q+TZ/EC/KnJRrVBnJsB//2qcuUTXkuUoQ+MRMc6bUQMn/KhaFVEzcucrR6b3wZY/MIY/9P7Iw1E7fXRvqBDVzXtpniQahjakHjCdJKmcDQdM8p1HiMvwSh+y5Ygnf254UMtUUCZb2gJNGEt/SN3+vK74KLusTrmEE1MmNz3ZZCLgQ5NutdpJ0AI4pxc/Q7OWh0EJp1l6XWYhodYeHIkk3nmQ3lBCD2WCvjZlHBo1/q7vhD9dWKC6ct15nxUqZfa19DC99xLRjC8+ZchFcKuiCNS7CItQNxKbwMs5UpeM+8RuV5tQ6482xxikX9fkXlBxn9QUPRGdZknkqyaSWbVWFAC6tZ8u3YSm8C3tyKYiptLGJy2e0LsALUQrIuSg/pwb+dB/8Xz+02CvewKTVbI03ggkIxkA="

language: generic

services: docker

dist: xenial

osx_image: xcode12.2

matrix:
  include:
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.6
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.7
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.8
    - MB_PYTHON_OSX_VER=10.9
  - os: osx
    language: generic
    env:
    - MB_PYTHON_VERSION=3.9
    - MB_PYTHON_OSX_VER=10.9
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.6
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.7
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.8
  - os: linux
    env:
    - MB_PYTHON_VERSION=3.9
  - os: linux
    env:
    - MB_ML_VER=2010
    - MB_PYTHON_VERSION=3.6
  - os: linux
    env:
    - MB_ML_VER=2010
    - MB_PYTHON_VERSION=3.7
  - os: linux
    env:
    - MB_ML_VER=2010
    - MB_PYTHON_VERSION=3.8
  - os: linux
    env:
    - MB_ML_VER=2010
    - MB_PYTHON_VERSION=3.9
  - os: linux
    env:
    - MB_ML_VER=2014
    - MB_PYTHON_VERSION=3.6
  - os: linux
    env:
    - MB_ML_VER=2014
    - MB_PYTHON_VERSION=3.7
  - os: linux
    env:
    - MB_ML_VER=2014
    - MB_PYTHON_VERSION=3.8
  - os: linux
    env:
    - MB_ML_VER=2014
    - MB_PYTHON_VERSION=3.9



before_install:
- BUILD_DEPENDS="oldest-supported-numpy"
- TEST_DEPENDS="numpy"
- source multibuild/common_utils.sh
- source multibuild/travis_steps.sh
- before_install

install:
- build_index_wheel $PROJECT_SPEC

script:
- install_run $PLAT

after_success:
- |
  echo "after_success for tag ${TRAVIS_TAG}"
  if [[ -n "${TRAVIS_TAG}" ]]; then
    if echo "${TRAVIS_TAG}" | python -c 'import sys, re; r = re.compile(r"^v(\d+\.)?(\d+\.)?(\*|\d+)$"); sys.exit(r.match(sys.stdin.read()) is None)'; then
      echo Deploying ${TRAVIS_TAG} to PyPI
      pip install twine
      twine upload ${TRAVIS_BUILD_DIR}/${WHEEL_SDIR}/*.whl
    else
      echo Skipping deployment of tag ${TRAVIS_TAG} to PyPi
    fi
  fi

deploy:
- provider: releases
  api_key:
    secure: BwKCEsOA/12MulsPa8unDrjEa/AndgSo8n7eQGOotkbn9YmFu2w0rLw1cjKDK5weoBOgb0uccnjowCXKt303HWiO2/mXnEH3S3W/HgbpT5uNH/V5h3zOpj/HBbRspS8FFFXhBoZuE66UcZqg3C/r5GBQrrgHfxxRyu46B74q5J3oskh8cs/yaCEU+BzXg2fv2QjOmtQA8XFfA7LlDXha7GqTzvTNrslYYLInYC+tpJ1ZaAwRQcHVQHmMgu2TniITPJhnrS+1/DbyP12VSD8rA6S9PhRynKztSS9mcnW9eYggJvgbkj8jw6cT1pm+5Nom5K6N8Z2078uWQu+GT6Di8+ajrFpD2q0q3U/5Xt/VZcvr2fxZRY9BXw08poYeRMKEBuRvhMRfTCvOD/fzxE1fiB9lW9Qva4NWq9H9p0spWLjaEnbM55f2tFQbBdaxwMyzd3Po9v1/2WaLrduSrhWh2Ie5IwsdDSiAT+f+M7qP5ob97k4MeFJtn7XGLa9a5rtxoiFiEbtC0AIrzoZV1wEH/ZtmvY+GAjvXQx53UaA/NBRVE8zhsQIuzNFjUvPoIV3oC0NQw9BHGGHx+dN0G+cIjNduEk6elIBCY7X29imZJC+o42KSKLnVNSMzzMt3gxSnhaUzWrwRGsOcneKdSxb59V10zu4nR1us5WUII8PSNgQ=
  file_glob: true
  file: "${TRAVIS_BUILD_DIR}/${WHEEL_SDIR}/*.whl"
  skip_cleanup: true
  on:
    repo: jameskermode/f90wrap-wheels
    tags: true
